

@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Raleway&family=Ubuntu&display=swap');

:root {
    --penguin-face: white;
    --penguin-picorna: orange;
    --penguin-skin: gray;
    --primary-color: #1c1b23;
    --secondary-color: #282834;
    --tertiary-color: #6e4cff;
  }

  html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    background: #1c1b23;
    font-family: 'Ubuntu', sans-serif;
    height: 2000px;
    overflow-x: hidden;

}

a {
    text-decoration: none;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.fd {
  animation: fade-down 0.75s;
}
.fu {
  animation: fade-up 0.9s;
}
/*Beginning of header */
  
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282834;
  min-height: 75px;
  position: fixed;
  width: 100%;
  z-index: 5;
}

#header > p {color: white;
font-size: 1.4rem;
margin: 1rem;
transition: all 0.35s ease-in-out;}

.navbar-links {
  transition: all 0.35s ease-in-out;
}
.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  transition: all 0.35s ease-in-out;
}

.navbar-links li a {
  margin: 2rem;
  display: block;
  font-size: 1.5rem;
  transition: all 0.2s ease-in-out;
  color: white;
  font-size: 22px;
}

.toggle-button {
  position: absolute;
  top: 1.25rem;
  right: 1.5rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.toggle-button .bar {
  width: 100%;
  height: 5px;
  background-color: white;
  margin: .25rem 0;
  border-radius: 10px;
}



li {
    list-style: none;
    display: inline-block;
    color: white;}

.link__hover-effect {
    position: relative;}

.link__hover-effect::after {
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 0;
    right: 0;
    transition: all 250ms ease ;}

.link__hover-effect:hover::after {
    left: 0;
    width: 100%;}

.link__hover-effect--black::after {
    background: #6e4cff;}

.resume {
    display: flex;
}

@media (max-width: 625px){
  #header p {
    font-size: 1.25rem;
    transition: all 0.35s ease-in-out;
  }

  .navbar-links li a {
    margin: 1.25rem;
    font-size: 19px;
    transition: all 0.35s ease-in-out;
  }
  .resume {
    display: none !important;
  }
}


@media (max-width: 435px){

  #header p {
    margin: auto 1rem;
  }
  .toggle-button{
    display: flex;
  }

  .navbar-links {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    display: none;
    background-color: #282834;
    transition: all 0.35s ease-in-out;
  }
  
  .navbar-links.active {
    display: flex;
  }

  #header {
    flex-direction: column;
    align-items: flex-start;
    
  }
  .navbar-links {
    width: 100%;
    transition: all 0.35s ease-in-out;
  }
  .navbar-links ul {
    flex-direction: column;
  width: 100%;  }

  .navbar-links li {
    text-align: center;
  }
  .link__hover-effect--black::after {
    background: transparent}

    .navbar-links li:hover {
    background-color: #50505a;
    user-select: none;
    cursor: pointer;
  }

  .navbar-links li a {
    margin: 1.35rem;
    
  }

  .navbar-links.active {
    display: flex;
    transition: all 0.35s ease-in-out;
  }
}
/*Ending of header */

/*Beginning of About */
#welcome-section {
    height: 100vh;
    width: 100vw;}
.purple {
  color: #6e4cff;
}
.purple {
    color: #6e4cff;
  background-image: url("/images/back.png");
background-size: cover;
background-clip: text;
-webkit-background-clip: text;
color: transparent }

#welcome-section h1 {
    Font-size: 80px;
    color: white;
    position: absolute;
    top: 16%;
    left: 13%;
    transition: all 0.35s ease-in-out;}


#welcome-section p {
    Font-size: 40px;
    color: white;
    position: absolute;
    top: 50%;
    left: 13%;
    width: 700px;
    transition: all 0.35s ease-in-out;}

    @media (max-width: 830px) {
        #welcome-section h1 {
            font-size: 65px;
        }
        #welcome-section p {
            font-size: 33px;
            width: 550px;
        }
    }

    @media (max-width: 630px) {

        #welcome-section h1 {
            font-size: 60px;
            left: 8%;
        }
        #welcome-section p {
            font-size: 28px;
            width: 550px;
            top: 45%;
            left: 8%;
            width: 450px;
        }}
    
        @media (max-width: 470px) {
          #welcome-section p {
              font-size: 28px;
              top: 45%;
              left: 8%;
              width: 350px;
          }
    }
    @media (max-width: 400px) {

      #welcome-section h1 {
          font-size: 55px;
          left: 8%;
      }
      #welcome-section p {
          font-size: 26px;
          width: 550px;
          top: 45%;
          left: 8%;
          width: 250px;
      }}

/*Ending of About */
/*Beginning of Tech Stack */
#tech {
    min-height: 120vh;
    height: auto;
    width: 100%;
    margin-bottom: 0;
    background-repeat: no-repeat;
    overflow: hidden;
    background: linear-gradient(#1c1b23 0%, #282834 15%, #282834 50%, #282834 85%, #1c1b23 100%);
}

#tech p {
    font-size: 40px;
    color: white;
    letter-spacing: 3px;
    text-align: center;
    font-weight: bold;
  margin-top: 150px;
  transition: all 0.35s ease-in-out;}



.language__img {
    width: 100%;
    max-width: 100px;
    transition: all 300ms;
    z-index: 2;}

.language:hover .language__img {
    filter: brightness(70%);
    opacity: 0.75;
    transform: scale(0.9);
  }

.language {
    width: 25%;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
    transform: scale(1.3);
  margin-bottom: 15px;
  transition: all 0.35s ease-in-out;}

.language__img--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 16px;}

.language__list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;}

.language__name {
    position: absolute;
    bottom: 0;
    transform: scale(0);
    color: white;
    transition: all 300ms ease-out;}

.language:hover .language__name {
    transform: scale(1); }
    
    @media (max-width: 620px)  {

        #tech p {
            font-size: 30px;
            transition: font-size 0.35s ease-in-out;
            margin: 150px 0 0 auto;
        }
        .language{
            width: 20%;
            transition: width 0.35s ease-in-out;
        }
    }
    @media (max-width: 444px)  {
      #tech {
        min-height: 190vh;
      }
      #tech p {
          font-size: 28px;
          transition: font-size 0.35s ease-in-out;
          margin: 150px 0 0 0;
      }
      .language{
          width: 40%;
          transition: width 0.35s ease-in-out;
          margin: 10px;
      }


  }

    /*Ending of Tech Stack */
    /*Beginning of Projects */

#projects {
    height: auto;
    position: relative; 
    margin-top: 150px; 
    margin-bottom: 150px;}

.h1-text {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 70px;}

.h1-text h1 {
    text-align: center;
    color: white;
    border-bottom: 2px solid white;
    font-size: 43px;
    width: 635px;
    padding: 10px;
    transition: all 300ms ease-in-out;}


.project-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    height: auto;
    grid-gap: 50px 5px;
    margin-top: 50px;
    transition: all 0.5s ease-in-out;}



.button {
    border: 3px solid #6e4cff;
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 22px;
    padding: 9px 20px;
    border-radius: 12px;
    color: white;
    background-color: #282834;
    transition: all 300ms ease-in-out;}

.button:hover {
    transform: scale(1.065);
    background-color: #6e4cff;}

.button i {
    padding-left: 7px;}

.center {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0px 30px 0px;}

.blur {
  opacity: 0.15;
  filter: blur(6px);
}


.card {
  overflow: visible;
  width: 375px;
  height: 475px;
  margin: 0;
}

.content {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 300ms;
  box-shadow: 0px 0px 10px 1px #000000ee;

}

.back-content img {
  grid-row: 1;
  width: 100%;
  height: 100%;
  object-fit:cover;
  border-radius: 5px;
  overflow: hidden;}

.front, .back {
  background-color: #1c1b23;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
}
.b-content-text {
  grid-row: 2;
  background-color: #282834;
  /* background-color: black; */
  font-size: 25px;
  color: white;
  font-family: 'Raleway';
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;}

.back {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.back::before {
  position: absolute;
  content: ' ';
  display: block;
  width: 160px;
  height: 160%;
  background: linear-gradient(90deg, transparent, #6e4cff, #6e4cff, #6e4cff, #6e4cff, transparent);
  animation: rotation_481 5000ms infinite linear;
}

.back-content {
  position: absolute;
  width: 99%;
  height: 99%;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.back-content {
  display: grid;
  grid-template-rows: 5fr 1fr;
  background-color: #282834;
}

.card:hover .content {
  transform: rotateY(180deg);
}

@keyframes rotation_481 {
  0% {
    transform: rotateZ(0deg);
  }

  0% {
    transform: rotateZ(360deg);
  }
}

.front {
  transform: rotateY(180deg);
  color: white;
}

.front .front-content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.front-content .badge {
  background-color: #00000055;
  padding: 2px 10px;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  width: fit-content;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.front-description {
  padding: 8px;
  z-index: 2;
}

.front-description h2 {
  text-align: center;
  margin: 20px 0px;
  font-size: 28px;
  text-shadow: 0px 0px 10px 1px #000000ee;
}

.front-description p {
  line-height: 23px;
  text-align:justify;
  color: rgb(223, 223, 223);
  padding: 0 5px;
}

.b-content-text {
  cursor:default;
  text-align: center;
}

.front-description a {
  cursor: pointer;
  color: white;
  font-size: 25px;
}

.gitlinks {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 20px;
}

.coming-soon {
  text-align: center;
  color: white;
  font-size: 23px;
  font-family: 'Raleway';
}


@media (max-width: 1200px ) {
    .project-wrapper { grid-template-columns: 1fr 1fr; }
}

@media (max-width: 803px ) {
    .project-wrapper { grid-template-columns: 1fr; }
    .h1-text h1 {
        font-size: 33.5px;
    }
}

@media (max-width: 420px ) {
  .card {
    width: 90%;
    height: 400px;
  }
}

/*Ending of Projects */


/*Beginning of Contact */
.contact-section-header {
    font-size: 40px;
    color: white;
    margin-top: 20px;
    text-shadow: 4px 4px 1px #1f1f1f;}


.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    min-height: 45vh;
    height: auto;
    background-color: #282834;}

  
.contact-section a {
    text-decoration: none;
    color: white;}

.contact-links {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 980px;
    margin-top: 2rem;
    flex-wrap: wrap;
    transition: all 0.35s ease-in-out;
}
  
.contact-details {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
  margin: 8px 0}
  
.contact-details:hover {
    transform: translateY(8px);}


.contact-section hr {
    margin: 50px 0px 10px 0px;
    width: 100%;}

.contact-section-footer {
    width: 100%;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 20px 0 20px 0;}


    @media (max-width: 803px ) {
        .contact-links { margin-top: 1.5rem;
    }

    .contact-section-header {
        font-size: 33.5px;
    }
}

@media (max-width: 440px ) {
  .contact-links {
    flex-direction: column;
    flex-wrap: nowrap;
    transition: all 0.35s ease-in-out;
  }
}
/*Ending of Contact */




















/*Penguin */
.penguin {
    width: 300px;
    height: 300px;
    z-index: 4;
    position: absolute;
    transition: transform 0.3s ease-in-out 0ms;
    overflow: hidden;
    transform: scale(1.5);
right: 135px;
top: 250px;}
    
  .penguin * {
    position: absolute;
  }  
  .penguin:active {
    transform: scale(1.75);
    cursor: not-allowed;
  }
  .penguin-head {
    width: 50%;
    height: 45%;
    background: linear-gradient(
      45deg,
      var(--penguin-skin),
      rgb(239, 240, 228)
    );
    border-radius: 70% 70% 65% 65%;
    top: 10%;
    left: 25%;
    z-index: 1;
  }
  .face {
    width: 60%;
    height: 70%;
    background-color: var(--penguin-face);
    border-radius: 70% 70% 60% 60%;
    top: 15%;
  }
  .face.left {
    left: 5%;
  }
  .face.right {
    right: 5%;
  }
  .chin {
    width: 90%;
    height: 70%;
    background-color: var(--penguin-face);
    top: 25%;
    left: 5%;
    border-radius: 70% 70% 100% 100%;
  }
  .eye {
    width: 15%;
    height: 17%;
    background-color: black;
    top: 45%;
    border-radius: 50%;
  }
  .eye.left {
    left: 25%;
  }
  .eye.right {
    right: 25%;
  }
  .eye-lid {
    width: 150%;
    height: 100%;
    background-color: var(--penguin-face);
    top: 25%;
    left: -23%;
    border-radius: 50%;
  }
  .blush {
    width: 15%;
    height: 10%;
    background-color: pink;
    top: 65%;
    border-radius: 50%;
  }
  .blush.left {
    left: 15%;
  }
  .blush.right {
    right: 15%;
  }
  .beak {
    height: 10%;
    background-color: var(--penguin-picorna);
    border-radius: 50%;
  }
  .beak.top {
    width: 20%;
    top: 60%;
    left: 40%;
  }
  .beak.bottom {
    width: 16%;
    top: 65%;
    left: 42%;
  }  
  
  .penguin-body {
    width: 53%;
    height: 45%;
    background: linear-gradient(
      45deg,
      rgb(134, 133, 133) 0%,
      rgb(234, 231, 231) 25%,
      white 67%
    );
    border-radius: 80% 80% 100% 100%;
    top: 40%;
    left: 23.5%;
  }
  .penguin-body::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 45%;
    background-color: var(--penguin-skin);
    top: 10%;
    left: 25%;
    border-radius: 0% 0% 100% 100%;
    opacity: 70%;
  }
  .arm {
    width: 30%;
    height: 60%;
    background: linear-gradient(
      90deg,
      var(--penguin-skin),
      rgb(209, 210, 199)
    );
    border-radius: 30% 30% 30% 120%;
    z-index: -1;
  }
  .arm.left {
    top: 35%;
    left: 5%;
    transform-origin: top left; 
    transform: rotate(130deg) scaleX(-1);
    animation: 3s linear infinite wave;
  }
  .arm.right {
    top: 0%;
    right: -5%;
    transform: rotate(-45deg);
  }
  @keyframes wave {
    10% {
      transform: rotate(110deg) scaleX(-1);
    }
    20% {
      transform: rotate(130deg) scaleX(-1);
    }
    30% {
      transform: rotate(110deg) scaleX(-1);
    }
    40% {
      transform: rotate(130deg) scaleX(-1);
    }
  }
  .foot {
    width:  15%;
    height: 30%;
    background-color: var(--penguin-picorna);
    top: 85%;
    border-radius: 50%;
    z-index: -1;
  }
  .foot.left {
    left: 25%;
    transform: rotate(80deg);
  }  
  .foot.right {
    right: 25%;
    transform: rotate(-80deg);
  }

  @media (max-width: 1300px) { 
    .penguin{ transform: scale(0);
}
}



@keyframes fade-down {
  0% {
      opacity: 0;
      transform: translateY(-30px) scale(0.9);
  }
  100% {
      opacity: 1;
      transform: translateY(0px) scale(1);
  }
}
@keyframes fade-up {
  0% {
      opacity: 0;
      transform: translateY(30px) scale(0.9);
  }
  100% {
      opacity: 1;
      transform: translateY(0px) scale(1);
  }
}

/* scroll animations  */
.hidden1 {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(-100%);
  transition: all 1s;
}

.leftR {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1.5s;
}

.rightL {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(100%);
  transition: all 1.5s;
}

.down {
  opacity: 0;
  transform: translateY(30%);
  transition: all 1.5s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media (prefers-reduced-motion) {
  .hidden1 {
    transition: none;
  }
}


/* boop  */
.bn5 {
  box-sizing: border-box;
  padding: 0.5em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #282834;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.navbar-links li a.bn5 {margin: 1.3rem 1rem;}

.bn5:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowingbn5 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowingbn5 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.bn5:active {
  color: white;
}

.bn5:active:after {
  background: transparent;
}

.bn5:hover:before {
  opacity: 1;
}

.bn5:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #282834;
  left: 0;
  top: 0;
  border-radius: 10px;
}

/* boop  */

/* Card flip  */



/* Card flip  */

/* pre loader  */
.spinner {
  width: 56px;
  height: 56px;
  display: grid;
  border: 4.5px solid #00000000;
  border-radius: 50%;
  border-color: #dbdcef #00000000;
  animation: spinner-e04l1k 1s infinite linear;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  margin: 2.2px;
  border: inherit;
  border-radius: 50%;
}

.spinner::before {
  border-color: #474bff #00000000;
  animation: inherit;
  animation-duration: 0.5s;
  animation-direction: reverse;
}

.spinner::after {
  margin: 8.9px;
}

@keyframes spinner-e04l1k {
  100% {
    transform: rotate(1turn);
  }
}

.preloader {
  background-color: #1c1b23;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

}





/* pre loader  */
